@import url('./markdowncss/paradox-seraph.css');

.main {
    height: 100vh;
    .nav {
        height: 40px;
        border: 1px solid #000;
    }

    .content {
        height: 100%;
        .components-layout {
            height: 100%;
            .left {
                height: 100%;
                float: left;
                width: 200px;
                background: green;
            }

            .content {
                padding: 20px;
                height: 100%;
                float: right;
                width: calc(100% - 200px);
            }
        }
    }
}